<mat-toolbar color="primary" class="header-container">
  <a routerLink="/" class="store-name">Makeup Store</a>
  <span class="spacer"></span>
  
  <div class="camion">
    <i class="bi bi-truck"></i>
    <h2><strong>Livraison gratuite à partir de 40 DT d'achat</strong></h2>
  </div>
  <span class="spacer"></span>

  

  <form class="search-form d-flex" role="search">
    <input class="search-input form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="search-button btn btn-outline-success" type="submit">Search</button>
  </form>


  
  <div class="dropdown">
    <a class="products-link">Produits</a>
    <div class="dropdown-content">
      <a routerLink="/rouge">Les Rouges à Lèvres</a>
      <a routerLink="/fond">Les Fond de Teint</a>
      <a routerLink="/palette">Les Palettes de Fards</a>
      <a routerLink="/mascara">Les Mascara</a>
      <a routerLink="/blush">Les Blush</a>
      <a routerLink="/vernis">Les Vernis</a>
    </div>
  </div>
  
  <button mat-button routerLink="/login" class="login-link">Login</button>
  <a routerLink="/cart" class="cart-link" mat-icon-button>
    <mat-icon >shopping_cart</mat-icon>
  </a>
</mat-toolbar>
