.cart-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
    img {
      width: 80px;
      height: 80px;
      margin-right: 20px;
      border-radius: 8px;
    }
  
    .item-details {
      h3 {
        margin: 0;
        font-size: 1.2rem;
      }
  
      p {
        margin: 5px 0 0;
        font-size: 0.9rem;
        color: #666;
      }
    }
  }
  
  button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
  .empty-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Aligner verticalement */
    text-align: center;
    padding: 20px;
    color: #333; /* Couleur du texte */
  
    i {
      font-size: 2rem; /* Taille de l'icône */
      color: #ff0000; /* Couleur de l'icône */
      margin-bottom: 10px;
    }
  
    h2 {
      font-size: 1.5rem; /* Taille du texte */
      margin: 0;
    }
  }
  
  
  