<div class="home-container">
  <div class="background-image"></div> 
  <div class="centered-text"> 
    <h1 class="name">AYA BORKEN</h1> 
    <h2 class="site-name">Beauty Center</h2> 
   

</div>
  
  <div class="product-container">
    <section class="card-grid">
      <div *ngFor="let product of products" (click)="selectProduct(product.id)" class="card">
        <img [src]="product.image" alt="{{ product.name }}">
        <h1>{{ product.name }}</h1>
        <div *ngIf="selectedProduct === product.id" class="description">
          <p>{{ product.description }}</p>
          <button (click)="openProduct( product.id)">Voir Détails</button>
        </div>
      </div>
    </section>
  </div>
</div>

